.login {
  margin: 0 auto;
  width: 100%;
  max-width: 576px;
  position: relative;
  top: 5rem;

  & > button {
    // max-width: 3rem;

    border: none;

    background: none;
    color: #1a73e8;
    text-decoration: underline #1a73e8;

    outline: none;
  }
}
