@mixin custom-flex($justfy, $align) {
  display: flex;
  justify-content: $justfy; // sp-bet
  align-items: $align; // center
  flex-wrap: wrap;
}

.paginate {
  position: relative;

  @include custom-flex(start, center);
  height: max-content;
  margin: 1rem 0;

  @mixin paginate-element {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 5px;

    text-align: center;
    line-height: 1.5rem;
    color: var(--secondary);
    font-weight: 500;

    cursor: pointer;

    &:hover {
      color: var(--primary);
    }
  }

  &__container {
    position: relative;

    padding: 0 5px;
    height: 24px;
    width: 112px;

    background: #eee;
    border-radius: 16px;

    overflow-x: hidden;
  }

  &__view {
    position: absolute;
    top: 0;

    display: flex;

    background: #eee;
    border-radius: 1.5rem;
  }

  &__selection {
    @include paginate-element();
    border-radius: 3px;
  }

  &__selection--selected {
    color: white;
    border-radius: 3px;
    background-color: var(--primary);
    box-shadow: 0 0 2px 1px var(--primary);

    &:hover {
      color: white;
    }
  }

  &__selection--btn {
    @include paginate-element();
    border-radius: 50%;
    background-color: #eee;

    img {
      width: auto;
      max-height: 100%;
      transform: scale(0.6);
    }
  }

  &__goto {
    margin-left: 0.5rem;

    label {
      position: relative;
      bottom: -1px;

      margin-right: 0.5rem;

      font-size: 1rem;
      font-weight: 500;
    }
    input {
      width: 3rem;
      padding: 0.2rem;
      border: 1px solid #eee;

      box-shadow: var(--box-shadow-inset--3px);
      outline: none;
    }
  }
}
