.specs-table {
  margin: 1rem 0;

  font-size: 1rem;
  color: var(--dark);

  &__heading {
    font-weight: 500;
  }

  span {
    font-size: 0.8em;
  }

  table {
    width: 100%;
  }
  tr {
    height: 3rem;
  }
  td {
    padding-right: 2rem;
    padding-left: 1rem;

    border-bottom: 1px solid #eee;
  }
  td:first-child {
    width: 40%;
  }
  td:last-child {
    width: 60%;
  }
  &__row--even {
    // background: #fbfbfb;
  }
  &__row--odd {
  }
}

@media only screen and (min-width: 500px) {
  .specs-table {
    span {
      font-size: 1em;
    }
  }
}
